{% extends 'layout.html' %}
{% block body %}
<div class="headers">
    <div class="header-container">
        <div class="page">
            <div class="header">
                <div class="call"><a href="tel:9844598141"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;046-501444</a></div>
                <div class="email"><a href="mailto:swadeshthapaworkspace@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                    &nbsp;maillalbandi@gmail.com</a></div>
                <div class="quote">स्वच्छ, सुन्दर र समुन्नत सहर, मधेसको शान लालबन्दी नगर </div>
                <div class="google"><a href="https://ne.wikipedia.org/wiki/%E0%A4%B2%E0%A4%BE%E0%A4%B2%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80_%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                </div>
                <div class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="facebook"><a href="https://www.facebook.com/lalbandimun" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="instagram"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <div class="linkedIn"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="c"></div>
            
            </div>

        </div>

    </div>

</div>
{% endblock %}