{% extends 'layout.html' %}

{% block body %}
 


    {% comment %}
    
    <section class="main-section text-center py-5">
        <div class="container mt-5">
            <h2>Welcome to the Land Registration System</h2>
            <p class="lead">
                Register your land, generate certificates, and manage your documents easily.
            </p>

            <div class="row">
                <div class="col-md-4">
                    <h5>Easy land Registration</h5>
                    <p>Fast and simple process to register your property.</p>
                </div>
                <div class="col-md-4">
                    <h5>Generate Certificates</h5>
                    <p>Instant certificate generation for land owners.</p>
                </div>

                <div class="col-md-4">
                    <h5>Pay Stamp Duty easily</h5>
                    <p>Stamp duty can be paid from home.</p>
                </div>
            </div>
            <a href="{% url 'login' %}" class="btn btn-success mt-4">Apply Now</a>

        </div>
    </section> {% endcomment %}

    <div class="headers">
        <div class="header-container">
           <div class="page">
               <div class="header">
                   <div class="call"><a href="tel:9844598141"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;046-501444</a></div>
                   <div class="email"><a href="mailto:swadeshthapaworkspace@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                       &nbsp;maillalbandi@gmail.com</a></div>
                   <div class="quote">स्वच्छ, सुन्दर र समुन्नत सहर, मधेसको शान लालबन्दी नगर </div>
                   <div class="google"><a href="https://ne.wikipedia.org/wiki/%E0%A4%B2%E0%A4%BE%E0%A4%B2%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80_%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                   </div>
                   <div class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                   </div>
                   <div class="facebook"><a href="https://www.facebook.com/lalbandimun" target="_blank">
                       <i class="fa fa-facebook" aria-hidden="true"></i>
                       </a>
                   </div>
                   <div class="instagram"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                   </div>
                   <div class="linkedIn"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                   </div>
                   <div class="c"></div>
               
               </div>
   
           </div>
        </div>
        
        <div class="header2-container">
           <div class="page">
               <div class="header2">
                   <div class="middle-header">
                       <div class="logo-left">
                           <img src="static/img/Emblem_of_Nepal.png" alt="Nepal national logo">
                       </div>
                       <div class="center">
                          <h3>&nbsp;लालबन्दी नगरपालिका </h3>
                          <h5>&nbsp;नगर कार्यपालिकाको कार्यालय, मधेस प्रदेश </h5>
                       </div>
                       
                        <div class="logo-right-right">
                           <img src="static/img/flag-nepal.gif" alt="nepal flag">
                           
           
                       </div>
                       <div class="logo-right">
                           <img src="static/img/lalbandi_municipality.png" alt="lalbandi municipality logo">
                       </div>
                       <div class="c"></div> 
   
   
                       <!-- <div class="header3">
                           <div class="home"><a href="tel:9844598141"><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;गृहपृष्ठ</a></div>
                           <div class="description"><a href="mailto:swadeshthapaworkspace@gmail.com"><i class="fa fa-id-card-o" aria-hidden="true"></i>
                               &nbsp;परिचय</a></div>
                           <div class="report"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                               &nbsp;प्रतिवेदन</div>
                           <div class="download"><a href="https://ne.wikipedia.org/wiki/%E0%A4%B2%E0%A4%BE%E0%A4%B2%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80_%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>
                               &nbsp;डाउनलोड</a>
                           </div>
                           <div class="decision"><a href=""><i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;निर्णय</a>
                           </div>
                           <div class="contact"><a href="https://www.facebook.com/lalbandimun" target="_blank">
                               <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                               सम्पर्क</a>
                           </div>
                           <div class="col text-center">
                               <button class="btn btn-warning btn-sm"><a href="" target="_blank">कर्मचारी लग इन</a></button>
                               
                               </div>
                          
                           <div class="c"></div>
                       
                       </div> -->
                   
   
   
                       <nav>
                           <ul>
                               <li class="active"><a href="#home"><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;गृहपृष्ठ</a></li>
                               <li><a href="#about"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;परिचय</a></li>
                               <li><a href="#events"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;प्रतिवेदन</a></li>
                               <li><a href="#team"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;डाउनलोड</a></li>
                               <li><a href="#page-wrap"><i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;निर्णय</a></li>
                               <li><a href="#page-wrap"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;ई-गभर्नेन्स</a></li>
                               <li><a href="#page-wrap"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;कर्मचारी लग इन</a></li>
                                
                                
                                
                                
                           </ul>
                       </nav>
                       <div class="c"></div>
   
                   </div>
           
                     
                   
                   
                   
               </div>
   
   
   
   
           </div>
   
        </div>
    
   
       </div>
   
   
        <!-- Slider main container -->
   <div class="swiper">
       <!-- Additional required wrapper -->
       <div class="swiper-wrapper">
         <!-- Slides -->
         <div class="swiper-slide"><img src="static/img/Lalbandi1.png" alt="Lalbandi market drone shot"></div>
         <div class="swiper-slide"><img src="static/img/Lalbandi2.png" alt="Lalbandi market drone shot 2"></div>
         <div class="swiper-slide"><img src="static/img/Lalbandi3.png" alt="Lalbandi market drone shot 3"></div>
         ...
       </div>
       <!-- If we need pagination -->
       <div class="swiper-pagination"></div>
     
       <!-- If we need navigation buttons -->
       <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
     
       <!-- If we need scrollbar -->
       <div class="swiper-scrollbar"></div>
     </div>



    <a href="{% url 'login' %}" class="btn btn-success mt-4">Apply Now</a>

    <footer class="footer bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2025 Property Registration System. All rights reserved.</p>
            <p><a href="#" class="text-white">Terms and Conditions</a> | <a href="#" class="text-white">Privacy
                    Policy</a></p>
        </div>
    </footer>

{% endblock %}