{% extends 'layout.html' %}

{% block body %}
 


    {% comment %}
    
    <section class="main-section text-center py-5">
        <div class="container mt-5">
            <h2>Welcome to the Land Registration System</h2>
            <p class="lead">
                Register your land, generate certificates, and manage your documents easily.
            </p>

            <div class="row">
                <div class="col-md-4">
                    <h5>Easy land Registration</h5>
                    <p>Fast and simple process to register your property.</p>
                </div>
                <div class="col-md-4">
                    <h5>Generate Certificates</h5>
                    <p>Instant certificate generation for land owners.</p>
                </div>

                <div class="col-md-4">
                    <h5>Pay Stamp Duty easily</h5>
                    <p>Stamp duty can be paid from home.</p>
                </div>
            </div>
            <a href="{% url 'login' %}" class="btn btn-success mt-4">Apply Now</a>

        </div>
    </section> {% endcomment %}

    {% include 'header1.html' %}
    {% include 'header2.html' %}
   
   
        <!-- Slider main container -->
   <div class="swiper">
       <!-- Additional required wrapper -->
       <div class="swiper-wrapper">
         <!-- Slides -->
         <div class="swiper-slide"><img src="static/img/Lalbandi1.png" alt="Lalbandi market drone shot"></div>
         <div class="swiper-slide"><img src="static/img/Lalbandi2.png" alt="Lalbandi market drone shot 2"></div>
         <div class="swiper-slide"><img src="static/img/Lalbandi3.png" alt="Lalbandi market drone shot 3"></div>
         ...
       </div>
       <!-- If we need pagination -->
       <div class="swiper-pagination"></div>
     
       <!-- If we need navigation buttons -->
       <div class="swiper-button-prev"></div>
       <div class="swiper-button-next"></div>
     
       <!-- If we need scrollbar -->
       <div class="swiper-scrollbar"></div>
     </div>



     

   {% include 'footer.html' %}

{% endblock %}