{% extends 'home.html' %}

{% block body %}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-4 p-4"
        style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); border-radius: 8px; background-color: white;">
        <h1 class="text-left mb-4">Login</h1>
        {% if errors %}
    <div class="alert alert-danger">{{ errors }}</div>
{% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            <br>
            {{ form.password }}
            <br>
            <button type="submit" class="btn btn-info w-50 mx-auto d-block">Login</button>
            <a class="d-block text-center mx-auto mt-4 text-info" href="{% url 'register' %}">Create account</a>
        </form>
    </div>
</div>
{% endblock %}