{% extends 'layout.html' %}
{% load static %}

{% block body %}
{% include 'header1.html' %}
{% comment %} <div class="d-flex flex-column min-vh-100">
    <header class="text-white bg-success p-5 text-center">
        <h1>Register land</h1>
    </header> {% endcomment %}
    <div class="headers"> 
     
        <div class="header2-container">
            <div class="page">
                <div class="header2">
                    <div class="middle-header">
                        <div class="logo-left">
                            <img src="{% static 'img/Emblem_of_Nepal.png' %}" alt="Nepal national logo">
                        </div>
                        <div class="center">
                           <h3>&nbsp;लालबन्दी नगरपालिका</h3>
                           <h5>&nbsp;नगर कार्यपालिकाको कार्यालय, मधेस प्रदेश</h5>
                        </div>
                        
                         <div class="logo-right-right">
                            <img src="{% static 'img/flag-nepal.gif' %}" alt="nepal flag">
                            
            
                        </div>
                        <div class="logo-right">
                            <img src="{% static 'img/lalbandi_municipality.png' %}" alt="lalbandi municipality logo">
                        </div>
                        <div class="c"></div> 
    
    
                        <!-- <div class="header3">
                            <div class="home"><a href="tel:9844598141"><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;गृहपृष्ठ</a></div>
                            <div class="description"><a href="mailto:swadeshthapaworkspace@gmail.com"><i class="fa fa-id-card-o" aria-hidden="true"></i>
                                &nbsp;परिचय</a></div>
                            <div class="report"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                &nbsp;प्रतिवेदन</div>
                            <div class="download"><a href="https://ne.wikipedia.org/wiki/%E0%A4%B2%E0%A4%BE%E0%A4%B2%E0%A4%AC%E0%A4%A8%E0%A5%8D%E0%A4%A6%E0%A5%80_%E0%A4%A8%E0%A4%97%E0%A4%B0%E0%A4%AA%E0%A4%BE%E0%A4%B2%E0%A4%BF%E0%A4%95%E0%A4%BE" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>
                                &nbsp;डाउनलोड</a>
                            </div>
                            <div class="decision"><a href=""><i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;निर्णय</a>
                            </div>
                            <div class="contact"><a href="https://www.facebook.com/lalbandimun" target="_blank">
                                <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                                सम्पर्क</a>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-warning btn-sm"><a href="" target="_blank">कर्मचारी लग इन</a></button>
                                
                                </div>
                           
                            <div class="c"></div>
                        
                        </div> -->
                    
    
    
                        <nav>
                            <ul>
                                {% comment %} 
                                <li><a href="#about"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;परिचय</a></li>
                                <li><a href="#events"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;प्रतिवेदन</a></li>
                                <li><a href="#team"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;डाउनलोड</a></li>
                                <li><a href="#page-wrap"><i class="fa fa-gavel" aria-hidden="true"></i>&nbsp;निर्णय</a></li> {% endcomment %}
                                <li><a href="{% url 'home'%}"><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;गृहपृष्ठ</a></li>
                                <li class="active"><a href="#page-wrap"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i>&nbsp;ई-गभर्नेन्स\ई-भूमिदर्ता</a>
                             
                                      
    
                             </li>
                                <li><a href="#page-wrap"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;कर्मचारी लग इन</a></li>
                                 
                                 
                                 
                                 
                            </ul>
                        </nav>
                        <div class="c"></div>
    
                    </div>
            
                      
                    
                    
                    
                </div>
    
    
    
    
            </div>
    
         </div>
    
    </div>

    {% include 'navbar.html' %}
    <br><br><br>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Fill this form </h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            {{ form.owner_name }}
                        </div>

                        <div class="mb-3">
                            {{ form.address }}
                        </div>

                        <div class="mb-3">
                            {{ form.state }}
                        </div>

                        <div class="mb-3">
                            {{ form.property_size }}
                        </div>

                        <div class="mb-3">
                            {{ form.property_value }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Citizenship and Ownership documents in pdf</label>
                            {{ form.sale_deed }}
                            {% if form.sale_deed.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.sale_deed.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-success w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
     
   
    {% endblock %}